
Data_ALL/hack_2023_04_200k/СИЛЬНО БОЛЬШИЕ ДАННЫЕ/contract_main_info.csv
Data_ALL/hack_2023_04_200k/СИЛЬНО БОЛЬШИЕ ДАННЫЕ/notification_info.csv
Data_ALL/hack_2023_04_200k/СИЛЬНО БОЛЬШИЕ ДАННЫЕ/statistic_codes.csv
Data_ALL/hack_2023_04_200k/СИЛЬНО БОЛЬШИЕ ДАННЫЕ/bo_balance.csv
Data_ALL/hack_2023_04_200k/СИЛЬНО БОЛЬШИЕ ДАННЫЕ/contract_item_info.csv
Data_ALL/hack_2023_04_200k/СИЛЬНО БОЛЬШИЕ ДАННЫЕ/contract_termination.csv
