.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* добавляем отступ справа */
}

.checkbox-container div {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* добавляем отступ между чекбоксами */
}

.checkbox-container label {
  margin-left: 5px; /* добавляем отступ между текстом и чекбоксом */
}

.checkbox-container label {
  margin-right: 20px;
  font-size: 14px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-container input[type="checkbox"] + span {
  font-size: 14px;
}
