/* Стили для всего документа */
html {
  font-size: 16px;
}

/* Общие стили для заголовков */
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Стили для шапки страницы */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Стили для логотипа */
.logo img {
  height: 50px;
}

/* Стили для навигационного меню */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  color: #0070c9;
}

/* Стили для основного контента страницы */
main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Стили для секций */
section {
  margin-bottom: 2rem;
}

/* Стили для футера */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Стили для текста */
p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* Стили для списков */
ul, ol {
  margin-bottom: 1rem;
}

ul li, ol li {
  margin-bottom: 0.5rem;
}

/* Стили для ссылок */
a {
  color: #0070c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
width: 100%;
border-collapse: collapse;
border: 1px solid #ddd;
margin: 0;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
margin: 0;
}

thead tr {
background-color: #f2f2f2;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

